/* CSS IS SO DARN COOL */

body {
  font-size: 62.5%;
}

h1 {
  color: black;
}

canvas {
  background: red;
}

/* Classes */
.svg-size {
   width: 10%;
   height: 10%;
}

/* IDs */
#header {
  position: fixed;
  padding: 10%;

  top: 10%;
  left: 10%;
  right: 10%;

  background-color: rgba(100, 100, 100, 0.25);
}

#header h1, #header h2 {
  color: white;
  text-align: center;
}

#header h1 {
    font-size: 5em;
}

#header h2 {
    font-size: 3em;
}

#social-icons {
  text-align: center;

  padding-top: 3%;
}
